node_modules/
coverage/
scripts/bower/bower-*
bower_components/
tmp/
viz/
learn/conjugate/results
learn/dictionary/results

.DS_Store
.jshintrc
.env
.nyc_output/

*.iml
*.log
*.stackdump
*.swp
*.dump
*~
compromise.js.tmproj
compromise.xcodeproj
npm-debug.log
pennTreebank.js
